/* Configuraremos el estilo de los links */



A:link {text-decoration: none;
	color: white;}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {color: red;}


/* Configuramos ahora el Cuerpo */


body {
	 background-image:url('http://localhost/web/Proyecto-Integrado/imagenes/4.jpg');
        background-position:expanded;
	background-repeat: no-repeat;
	background-attachment:fixed; 
	margin: 0;
	padding: 0;
	font-family: Exocet;
	
}


/* Formularios de la web */

#formulario_login {
	width: 300px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
}

#formulario_registro {
	width: 400px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
}

#formulario_video {
	width: 400px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
}


#registro_correcto {
	width: 400px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
}

#modificacion_correcta {
	width: 400px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
}

#subida_correcta {
	width: 400px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
}

#subida_error {
	width: 400px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
}


/* Texto de Headers */

h1,h2,h3,h4,h5 {
	margin-top: 0;
	font-family: Exocet;
	text-align: center;
	text-shadow: 0 1px 0 white;
}


#capa_cerrar_sesion {
	float: right;
	position: relative;
	font-size: 15px;
	border-style: solid;
	border-width: 4px;
	border-color: midnightblue;
	background: midnightblue;
	font-family: "arial";
}


/* Diferentes Inputs, bien texto, submits, anchor,..... */


input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	width: 280px;
	border: 5px;
	font-family: Exocet;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 1em;
}

input[type=submit], form a {
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	font-family: Exocet;
	-moz-border-radius: 4px;
	background: #b22222;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}

input[type=submit]:hover, form a:hover {
	background:#b22222;
	cursor: pointer;
	color: red;
}	



/* Error y Fieldset */

.error {
	color: #393939;
	font-size: 15px;
	font-family: Exocet;
}

fieldset {
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;	
	font-family: Exocet;
}



