/* Configuraremos el estilo de los links */



A:link {text-decoration: none; color: white;}
A:visited {text-decoration: none; color: black;}
A:active {text-decoration: none}
A:hover {color: red;}


/* Configuramos ahora el Cuerpo y la tablas que usaremos */

body {
	 background-image:url('http://localhost/web/Proyecto-Integrado/imagenes/2.jpg');
        background-position:expanded;
	background-repeat: no-repeat;
	background-attachment:fixed; 
	margin: 0;
	padding: 0;
	font-family:Exocet;
	font-size: 12px;
	
	
}

.transparente
  {
  width:1em;
  height:1em;
  margin:1em;
  background-color:#b22222;;
  border:1px solid black;
  opacity:0.7;
  filter:alpha(opacity=70); 
  font-family: Exocet;
  text-align:center;

  
  }

.transparente a:link {text-decoration: none; color: white;}
.transparente a:visited {text-decoration: none; color: white;}
.transparente a:active {text-decoration: none}
.transparente a:hover {text-decoration: none; color: red;}



		


/* Cabeceras principales de la página */

#cabecera_top {
	
	
	width: 100%;
	top:0;
	height:0px;
	font-family: Exocet;
	z-index: 10;
	
}

#div_container {
	
	
	width:20%;
	top:0;
	height:0px;
	font-family: Exocet;

}

 #div_superior {

clear:both;
top:0px;
left:0px;
z-index:10;
}

#div_inferior{

clear:both;
top:0px;
left:0px;
z-index:10;
}

#div_info_video {

	width: 400px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 2px solid white;
	margin: 250px auto 0;
	padding: 200px;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
	box-shadow: 0 1px 0 black;
	-moz-box-shadow: 0 1px 0 black;
	-webkit-box-shadow: 0 1px 0 black;


}

#cabecera_logo {
	
	clear: both;
	top:0;
	height: 0px;
	z-index:5;
}

#texto_busqueda {
	
	width: 100%;
	top:0;
	height:0px;
	font-family: Exocet;
}


#div_error {
	width: 400px;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 0 solid white;
	margin: 1em auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
	
}



#div_info {
	width: 45%;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 0 solid white;
	margin: 1em auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
	
}

#div_vota {
	width: 45%;
	background: #696969 url(../imagenes/login_bg.jpg) repeat-x 0 0;
	border: 0 solid white;
	margin: 1em auto 0;
	padding: 1em;
	font-family: Exocet;
	opacity:0.7;
  	filter:alpha(opacity=70); 
	-moz-border-radius: 3px;
	
}
/* Texto de Headers */

h1,h2,h3,h4,h5 {
	margin-top: 0;
	font-family: Exocet;
	text-align: center;
	text-shadow: 0 1px 0 white;
}



/* Diferentes Inputs, bien texto, submits, anchor,..... */


input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	width: 280px;
	border: 5px;
	font-family: Exocet;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	
}

input[type=submit], form a {
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #b22222;
	font-family: Exocet;
	color: black;
	box-shadow: 0 1px 0 black;
	-moz-box-shadow: 0 1px 0 black;
	-webkit-box-shadow: 0 1px 0 black;

}

input[type=enviar], form a {
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #b22222;
	font-family: Exocet;
	color: black;
	box-shadow: 0 1px 0 black;
	-moz-box-shadow: 0 1px 0 black;
	-webkit-box-shadow: 0 1px 0 black;

}

input[type=submit]:hover, form a:hover {
	background: #b22222;
	cursor: pointer;
	color: red;
}



button {
  color: white;
  background: transparent;
  border: none;
  font-family: Exocet;
}



/* Error y Fieldset */

.error {
	color: #393939;
	font-size: 15px;
	font-family: Exocet;
}

fieldset {
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
	font-family: Exocet;
}




/* Atributos de la paginación */


#paginacion a, #paginacion strong {
	 background: #e3e3e3;
	 padding: 4px 7px;
	 text-decoration: none;
	border: 1px solid #cac9c9;
	color: #292929;
	font-size: 13px;
	}

	#paginacion strong, #paginacion a:hover {
	 font-weight: normal;
	 background: #cac9c9;
	}		


/* En esta párte de la hoja de estilos vamos a configurar los botones de la sección de categoria/clase */


#container {
	
	margin: 1px 0 0 1px;
	text-align: center;
	background: #000;
	padding: 2px 2px 3px;
	cursor: pointer;
} #border1 {
	border: 1px solid #332d2c;
	padding: 1px;
} #container:hover #radialgradient {
	background: #200c04;
	background: -webkit-gradient(radial, 50% 520%, 160, 50% 520%, 250, from(#e24525), to(#200c04));
	background: -moz-radial-gradient(50% 520%, circle, #e24525 160px, #200c04 250px);
} #radialgradient {
	background: #212121;
	background: -webkit-gradient(radial, 50% 520%, 160, 50% 520%, 250, from(#6b1908), to(#212121));
	background: -moz-radial-gradient(50% 520%, circle, #6b1908 160px, #212121 250px);
} #gloss {
	background: -webkit-gradient(linear, 0 0, 0 100%,  color-stop(0, transparent), color-stop(0.2, #2a2a2a), color-stop(0.4, #353535), color-stop(0.6, transparent));
	background: -moz-linear-gradient(top, transparent 0, #2a2a2a 20%, #353535 40%, transparent 60%);
} #container:hover #gloss {
	background: -webkit-gradient(linear, 0 0, 0 100%,  color-stop(0, transparent), color-stop(0.2, #2a1710), color-stop(0.4, #47291f), color-stop(0.6, transparent));
	background: -moz-linear-gradient(top, transparent 0, #2a1710 20%, #47291f 40%, transparent 60%);
} #inner {
	color: #fff;
	border-top: 1px solid #433d3c;
	padding: 6px 45px;
	font-size: 14px;
	font-family: Exocet;
} #container:hover #inner {
	border-top: 1px solid #53342d;
	padding: 6px 45px;
	font-size: 14px;
	font-family: Exocet;
	text-shadow: 0 0 8px #ff2b03;
} #gradientbottom {
	height: 3px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#200c04), to(#1d0905));
	background: -moz-linear-gradient(top, #200c04, #1d0905);
	opacity: 0.4;
} #leftornament {
	width: 1px;
	height: 100%;
	float: left;
	border-left: 1px solid #42372a;
	border-right: 1px solid #b09975;
	background: #5c4d3d;
} #ornaments {
	background: #5c4d3d;
	padding: 0 2px;
	border-left: 1px solid #42372a;
	border-right: 1px solid #42372a;
	position: relative;
} #moreornaments {
	border-left: 1px solid #b09975;
	border-right: 1px solid #b09975;
} .triangle {
	border: 4px solid #5c4d3d;
	border-radius: 2px;
	-moz-border-radius: 2px;
	position: absolute;
} .triangle.bg {
	border: 4px solid #b09975;
} .triangle.top {
	top: 0;
	border-bottom: 4px solid transparent;
} .triangle.left {
	left: 2px;
	border-right: 4px solid transparent;
} .triangle.bg.left {
	left: 3px;
} .triangle.bottom {
	bottom: 0;
	border-top: 4px solid transparent;
} .triangle.right {
	right: 2px;
	border-left: 4px solid transparent;
} .triangle.bg.right {
	right: 3px;
} .triangle.middle {
	border: 4px solid #5c4d3d;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
} .triangle.bg.middle {
	border: 4px solid #b09975;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
} .triangle.middle.left {
	top: 40%;
	border-right: 4px solid transparent;
} .triangle.middle.right {
	top: 40%;
	border-left: 4px solid transparent;
}

  
