body{

 background-image:url('http://localhost/web/Proyecto-Integrado/imagenes/1.jpg');
 background-position:expanded;
background-repeat: no-repeat  
}

#header {
	width: 874px;
	text-align: center;
	margin: 0 auto;
	background: #CCC;
	font-size: 40px;
	font-family: "comic sans";
	font-weight: bold;
	border-style: solid;
	height: 90px;
	border-width: 4px;
}

#footer {
	text-align: center;
	border-style: solid;
	width: 874px;
	background: #CCC;
	margin: 0 auto;
	border-width: 4px;
	font-weight: bold;
}


 .transparente
  {
  width:400px;
  height:180px;
  margin:30px 50px;
  background-color:#6495ed;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); 
  }

a:hover {
	color: #045FB4;
	font-weight: bold;
	text-decoration:none;
}

a:link {
	color: #045FB4;
	text-decoration:none;
}

a:visited {
  color: #045FB4;
	text-decoration:none;
}
